<?xml version="1.0"?>
<configuration>
    <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="traceListener" 
          type="System.Diagnostics.TextWriterTraceListener" 
          initializeData="InfoCapture.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <modules>
    <module assemblyFile="InfoCapture.Sample.UI.dll" moduleType="InfoCapture.Sample.UI.UIInitializer, InfoCapture.Sample.UI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UI" startupLoaded="true" />
  </modules>
<appSettings>
   <add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Vals\Downloads\InfoCapture\Data\InfoCapture.mdf;Integrated Security=True;Connect Timeout=30" />
</appSettings>
</configuration>
